/**
 * Single coupon
 *
 *
 *
 */
.Single-coupon {
	@include padding(top #{(96 * 11) / 24}pt bottom #{(96 * 11) / 24}pt);

	&__header {
	}

	&__icon {
		@include size(88pt);
		@extend .d-flex, .align-items-center, .justify-content-center;

		border: #{(5 * 11) / 24}pt solid the_color(cyan, dark-moderate);
		border-radius: #{(96 * 11) / 24}pt;

		svg {
			@include size(#{(96 * 11) / 24}pt);
		}
	}

	&__title {
		@extend %font-family-title, %font-style-normal, %font-weight-regular;
		@include margin(top #{(24 * 11) / 24}pt bottom #{(24 * 11) / 24}pt);

		font-size: #{(54 * 11) / 24}pt;
		line-height: #{(72 * 11) / 24}pt;
		color: the_color(cyan, dark-moderate);
	}

	&__logo {
		@extend %text-align-right;
		@include margin(top #{(24 * 11) / 24}pt bottom #{(24 * 11) / 24}pt);
		@include size(auto, #{(144 * 11) / 24}pt);

		max-width: 100%;

		svg {
			@extend .d-inline-block;
			@extend %vertical-align-middle;
			@include size(auto, 100%);

			max-width: 100%;
			fill: the_color(cyan, dark-moderate);
		}
	}

	&__from-to {
		@include margin(top 27.5pt bottom 14.4pt);
		color: the_color(cyan, dark-moderate);
		font-size: #{(24 * 11) / 24}pt;
		line-height: #{(24 * 11) / 24}pt;
	}

	&__horizontal-line {
		@include margin(top -1pt bottom -1pt);
		@include size(100%, 2pt);

		border: none;
		background-color: the_color(cyan, dark-moderate);
	}

	&__content {
		@include margin(top #{(24 * 11) / 24}pt bottom #{(24 * 11) / 24}pt);
		@extend %text-align-center;

		font-size: #{(24 * 11) / 24}pt;
		line-height: #{(24 * 11) / 24}pt;
	}
}

// 24 -> 11
