/**
 * Site: footer
 *
 *
 *
 * @package DLAP
 */

.Site-footer {
	@include padding(top $grid-gutter-width bottom $grid-gutter-width);

	background-color: the_color(white);
	color: the_color(gray, very-dark);

	@at-root .Restaurant-page & {
		background-color: the_color(gray, very-dark);
		color: the_color(gray, very-light);
	}
	@at-root .Voucher-page & {
		background-color: the_color(gray, very-dark);
		color: the_color(gray, very-light);
	}

	@at-root .Front-page & {
		background-color: the_color(gray, very-dark);
		color: the_color(gray, very-light);
	}

	@include media-breakpoint-up(md) {
		@include padding(top $grid-gutter-width * 3 bottom $grid-gutter-width * 3);
	}

	&__title {
		@include margin(bottom $grid-gutter-width / 2);
		@include letter-spacing(100);

		font-size: #{$base-font-size}px;
		line-height: #{$base-line-height}px;

		@at-root .Front-page & {
			color: the_color(white);
		}
		@at-root .Restaurant-page & {
			color: the_color(white);
		}
		@at-root .Voucher-page & {
			color: the_color(white);
		}

		@include media-breakpoint-up(md) {
			@include margin(bottom $grid-gutter-width);
		}
	}

	&__column {
		& > *:first-child {
			@include margin(top 0);
		}

		& > *:last-child {
			@include margin(bottom 0);
		}

		.textwidget {
			a {
				text-decoration: underline;
			}

			strong {
				@at-root .Front-page & {
					color: the_color(white);
				}
				@at-root .Restaurant-page & {
					color: the_color(white);
				}
				@at-root .Voucher-page & {
					color: the_color(white);
				}
			}
		}

		@include media-breakpoint-up(md) {
			@include margin(top 0);
		}
	}

	&__copyright {
		@include margin(bottom 0);

		strong {
			@at-root .Front-page & {
				color: the_color(white);
			}
			@at-root .Restaurant-page & {
				color: the_color(white);
			}
			@at-root .Voucher-page & {
				color: the_color(white);
			}
		}
	}

	&__horizontal-line {
		@include margin(bottom -3px);
		@include size(100%, 3px);

		border: none;
		background-color: the_color(gray, very-dark);

		@at-root .Front-page & {
			background-color: the_color(white);
		}
		@at-root .Voucher-page & {
			background-color: the_color(white);
		}
		@at-root .Restaurant-page & {
			background-color: the_color(white);
		}
	}
}
