/**
 * Gallery
 *
 *
 *
 *
 */
.Gallery {
	&__items {
		@include margin(top $grid-gutter-width / -2 bottom $grid-gutter-width / -2);
	}
	img {
		@extend .d-block;
		@include margin(top $grid-gutter-width / 2 bottom $grid-gutter-width / 2);
		@include size(100%, $grid-gutter-width * 10);

		max-width: 100%;
		object-fit: cover;
		object-position: center;

		@include media-breakpoint-up(md) {
			@include size(100%, $grid-gutter-width * 22);
		}
	}
}
