/**
 * Hero
 *
 *
 * @package DLAP
 */
.Hero {
	$this: &;

	@include margin(top $grid-gutter-width * 2);

	&__logo {
		svg {
			@include size(100%, $grid-gutter-width * 12);
			@extend %position-relative, %Pointer-events-none;
			@extend %vertical-align-middle;
			@extend .d-inline-block;

			fill: the_color(white);
			z-index: 2;

			@at-root .Front-page & {
				fill: the_color(yellow, grayish);
			}

			@at-root .Restaurant-page & {
				fill: the_color(yellow, grayish);
			}
			@at-root .Voucher-page & {
				fill: the_color(yellow, grayish);
			}

			@include media-breakpoint-up(sm) {
				@include size(100%, $grid-gutter-width * 16);
			}

			@include media-breakpoint-up(md) {
				@include size(100%, $grid-gutter-width * 24);
			}
		}
	}

	&__footer {
		@include media-breakpoint-up(md) {
			@include margin(top $grid-gutter-width * -8);
			@include size(100%, $grid-gutter-width * 12);
		}
	}

	&__horizontal-line {
		@include margin(top $grid-gutter-width - 1.5px bottom -1.5px);
		@include size(100%, 3px);

		border: none;
		background-color: the_color(cyan, dark-moderate);

		@at-root .Producers-page & {
			background-color: the_color(white);
		}

		@at-root .Front-page & {
			background-color: the_color(yellow, grayish);
		}

		@at-root .Restaurant-page & {
			background-color: the_color(yellow, grayish);
		}

		@at-root .Voucher-page & {
			background-color: the_color(yellow, grayish);
		}
	}
}
