/**
 * References
 *
 *
 *
 *
 */
.References {
	@include padding(top $grid-gutter-width * 3 bottom $grid-gutter-width * 3);

	background-color: the_color(white);

	&__item {
		@extend .d-block;
		@include margin(
			top $grid-gutter-width / 2 right auto bottom $grid-gutter-width / 2 left auto
		);
		@include size(4 * $grid-gutter-width);

		object-fit: contain;
		object-position: center;

		@include media-breakpoint-up(md) {
			@include margin(top 0 bottom 0);
		}
	}
}
