{#
 #
 #}
<div class="Cursor js-cursor">
	<div class="Cursor__button">
		{% include 'svg/use.html.twig' with { icon: 'arrow-left' } only %}
	</div>
	<div class="Cursor__button">
		{% include 'svg/use.html.twig' with { icon: 'arrow-right' } only %}
	</div>
</div>
