{#  #}
<div class="Partners">
	<div class="Site-container">
		<div class="row">
			{% for post in posts %}
				<div class="col-12 col-sm-6 col-md-2">
					{{- post.get_field( 'link' ) ? "<a href=\"#{post.get_field('link')}\" target=\"_blank\" rel=\"noopener\" class=\"d-block\">" | raw -}}
						{%- include 'partials/image.html.twig' with { classes: [ 'References__item' ], image: post.thumbnail } -%}
					{{- post.get_field( 'link' ) ? '</a>' | raw -}}
				</div>
			{% endfor %}
		</div>
	</div>
</div>
