/**
 * Button

 * @package DLAP
 */
.Button {
	@extend %text-transform-uppercase, %font-weight-bold;
	@include letter-spacing(100);
	@include padding(
		top $grid-gutter-width * 0.5 right $grid-gutter-width bottom $grid-gutter-width * 0.5 left
			$grid-gutter-width
	);

	background-color: the_color(cyan, dark-moderate);
	transition: box-shadow 0.3s map-get($easings, ease-out-expo);

	&:focus {
		outline: none;
		box-shadow: 0 0 0 3px rgba(the_color(white), 0.05);
	}
}
