/**
 * Form
 *
 *
 * @package DLAP
 */
.Form {
	$this: &;

	transition: opacity 0.3s map-get($easings, ease-out-expo);

	& > *:first-child {
		@include margin(top 0);
	}

	& > *:last-child {
		@include margin(bottom 0);
	}

	&--loading {
		@extend %Pointer-events-none;

		opacity: 0.8;
	}

	&--success {
		button[type='submit'] {
			@extend %Pointer-events-none;

			opacity: 0.8;
		}
	}

	&__title {
		color: the_color(white);
		line-height: #{$base-line-height * 2}px;

		@at-root .Voucher-page & {
			color: the_color(yellow, grayish);
		}
	}

	&__group {
		@extend .d-block;
		@include margin(top $grid-gutter-width / 2 bottom $grid-gutter-width / 2);

		& > *:first-child {
			@include margin(top 0);
		}

		& > *:last-child {
			@include margin(bottom 0);
		}
	}

	&__fieldset {
		@include padding(
			top $grid-gutter-width right $grid-gutter-width / 2 bottom $grid-gutter-width left
				$grid-gutter-width / 2
		);
		box-shadow: inset 0 0 0 3px rgba(the_color(white), 0.15);

		@include media-breakpoint-up(md) {
			@include padding(right $grid-gutter-width left $grid-gutter-width);
		}
	}

	&__total {
		@extend %text-align-right, %font-weight-semibold, %text-transform-uppercase;
		@include letter-spacing(100);
	}

	&__message {
		@extend .d-block;
		@include margin(
			top $grid-gutter-width / 2 bottom $grid-gutter-width / 2 left $grid-gutter-width
		);

		&--success {
			@include margin(left 0);
			@extend .d-none;
		}

		@at-root #{ $this }--success &--success {
			@extend .d-block;
		}
	}
}
