/*
 * Guid
 *
 * @file stylesheets/components/guid
 */
.Guid {
	@extend %Pointer-events-none;
	z-index: 10000;

	@include absolute(
		top 0
		right 0
		bottom 0
		left 0
	);

	/**
	 * Match all classes starting by col-
	 */
	[class^='col-'] .Guid__column {
		background: {
			color: rgba( the_color( blue, pure ), 0.2 );
		}
	}


	[class^='col-']:nth-child(odd) .Guid__column {
		background: {
			color: rgba( the_color( red, pure ), 0.2 );
		}
	}


	/**
	 * Guid
	 *
	 * @uses .Guid__column
	 */
	&__column {
		color: rgba( $black, 0.2 );

		@include size( 100% );
	}
}
