/**
 * Logo
 *
 *
 * @package DLAP
 */
.Logo {
	@extend .d-block;

	svg {
		@extend %vertical-align-middle;
		@extend .d-inline-block;
		@include size(108px, $grid-gutter-width * 2);

		@at-root .Site-footer & {
			fill: the_color(gray, very-dark);
		}

		@at-root .Site-header & {
			fill: the_color(white);
		}

		@at-root .Front-page .Site-footer & {
			fill: the_color(white);
		}

		@at-root .Restaurant-page .Site-footer & {
			fill: the_color(white);
		}
	}
}
