/**
 * Menu
 *
 *
 *
 * @package DLAP
 */
.Menu {
	$this: &;

	@extend .d-flex, .flex-row, .justify-content-between;
	@extend %list-style-type-none, %font-weight-bold, %text-transform-uppercase;
	@include letter-spacing(100);

	&__link {
		@extend .d-block;
		@extend %position-relative;
		@include padding(top $grid-gutter-width bottom $grid-gutter-width);

		color: the_color(gray, very-light);
		transition: color 0.3s map-get($easings, ease-out-expo);

		&::after {
			@include absolute(top 0 right 0 left 0);
			@include size(100%, 4.5px);

			background-color: the_color(cyan, dark-moderate);
			transform: scaleY(0);
			transform-origin: 50% 0;
			transition: transform 0.3s map-get($easings, ease-out-expo);
			content: '';
		}

		&:hover,
		&.is-active {
			color: the_color(white);
			&::after {
				transform: scaleY(1);
			}
		}
	}
}
