/**
 * Menu
 *
 *
 *
 * @package DLAP
 */

/*! purgecss start ignore */
.Menu {
	[role='region'] {
		transition: max-height 0.3s map-get($easings, ease-out-expo);
	}

	&__button {
		@include padding(top $grid-gutter-width * 0.5 bottom $grid-gutter-width * 0.5);
		@include margin(left auto);
		@include letter-spacing(100);
	}

	&__items {
		@include letter-spacing(100);
	}

	&__link {
		transition: color 0.3s map-get($easings, ease-out-expo);

		@at-root .Front-page .Site-footer & {
			color: the_color(white);
		}
		@at-root .Restaurant-page .Site-footer & {
			color: the_color(white);
		}
		@at-root .Voucher-page .Site-footer & {
			color: the_color(white);
		}

		@at-root .Menu--header & {
			@include padding(top $grid-gutter-width * 0.5 bottom $grid-gutter-width * 0.5);

			color: the_color(gray, very-light);

			@include media-breakpoint-up(md) {
				@include padding(top $grid-gutter-width bottom $grid-gutter-width);

				&::after {
					@include absolute(top 0 right 0 left 0);
					@include size(100%, 4.5px);

					background-color: the_color(cyan, dark-moderate);
					transform: scaleY(0);
					transform-origin: 50% 0;
					transition: transform 0.3s map-get($easings, ease-out-expo);
					content: '';

					@at-root .Producers-page & {
						background-color: the_color(white);
					}

					@at-root .Front-page & {
						background-color: the_color(yellow, grayish);
					}

					@at-root .Restaurant-page & {
						background-color: the_color(yellow, grayish);
					}
					@at-root .Voucher-page & {
						background-color: the_color(yellow, grayish);
					}
				}

				&:hover,
				&.is-active {
					&::after {
						transform: scaleY(1);
					}
				}
			}

			&:hover,
			&.is-active {
				color: the_color(white);
			}
		}
	}
}
/*! purgecss end ignore */
