/**
 * Menu
 *
 *
 *
 * @package DLAP
 */
.Menu {
	$this: &;

	@extend .d-flex, .flex-row;
	@extend %font-weight-semibold;

	&--header {
		@extend .flex-column, .flex-md-row;
	}

	[role='region'] {
		transition: max-height 0.3s map-get($easings, ease-out-expo);
	}

	&__button {
		@include padding(top $grid-gutter-width / 2 bottom $grid-gutter-width / 2);
		@include margin(left auto);
		@include letter-spacing(100);
		@extend %text-transform-uppercase;
		@extend .d-md-none;
	}

	&__items {
		@extend .d-flex, .flex-column, .flex-md-row, .justify-content-between;
		@extend %list-style-type-none, %text-transform-uppercase;
		@include letter-spacing(100);
	}

	&__link {
		@extend .d-block;
		@extend %position-relative;

		transition: color 0.3s map-get($easings, ease-out-expo);

		@at-root .Front-page .Site-footer & {
			color: the_color(white);
		}
		@at-root .Restaurant-page .Site-footer & {
			color: the_color(white);
		}
		@at-root .Voucher-page .Site-footer & {
			color: the_color(white);
		}

		@at-root #{ $this }--header & {
			@include padding(top $grid-gutter-width / 2 bottom $grid-gutter-width / 2);

			color: the_color(gray, very-light);

			@include media-breakpoint-up(md) {
				@include padding(top $grid-gutter-width bottom $grid-gutter-width);

				&::after {
					@include absolute(top 0 right 0 left 0);
					@include size(100%, 4.5px);

					background-color: the_color(cyan, dark-moderate);
					transform: scaleY(0);
					transform-origin: 50% 0;
					transition: transform 0.3s map-get($easings, ease-out-expo);
					content: '';

					@at-root .Producers-page & {
						background-color: the_color(white);
					}

					@at-root .Front-page & {
						background-color: the_color(yellow, grayish);
					}

					@at-root .Restaurant-page & {
						background-color: the_color(yellow, grayish);
					}
					@at-root .Voucher-page & {
						background-color: the_color(yellow, grayish);
					}
				}

				&:hover,
				&.is-active {
					&::after {
						transform: scaleY(1);
					}
				}
			}

			&:hover,
			&.is-active {
				color: the_color(white);
			}
		}
	}
}
