/**
 * Socials
 *
 *
 *
 */
.Socials {
	@extend %list-style-type-none;
	@extend .d-flex;

	color: the_color(white);

	@at-root .Site-header & {
		@extend %margin-top-3, %margin-top-md-0;
	}

	&__item {
		@include margin(right $grid-gutter-width * 0.25 left $grid-gutter-width * 0.25);

		&:last-child {
			@include margin(right 0);
		}
		&:first-child {
			@include margin(left 0);
		}
	}

	&__link {
		@extend .d-flex, .align-items-center, .justify-content-center;
		@include size($grid-gutter-width);

		border-radius: $grid-gutter-width * 0.5;
		background-color: the_color(cyan, dark-moderate);

		// &:hover {
		// }

		svg {
			@include size($grid-gutter-width * 0.5);

			fill: the_color(white);
		}
	}
}
