/**
 * Teaxtarea
 *
 *
 */
.Textarea {
	@extend %vertical-align-middle;
	@include reset-placeholder(the_color(white));
	@include padding(
		top $grid-gutter-width / 2 right $grid-gutter-width bottom $grid-gutter-width / 2 left
			$grid-gutter-width
	);
	@include size(100%, $grid-gutter-width * 8);

	background-color: rgba(the_color(white), 0.15);
	color: the_color(white);
	transition: box-shadow 0.3s map-get($easings, ease-out-expo);
	resize: none;

	&:focus {
		outline: none;
		box-shadow: 0 0 0 3px rgba(the_color(white), 0.05);
	}
}
