/**
 *
 *
 *
 *
 *
 */
.Wysiwyg {
	& > *:first-child {
		@include margin(top 0);
	}

	& > *:last-child {
		@include margin(bottom 0);
	}

	strong {
		color: the_color(white);
	}

	h3 {
		@include margin(top $grid-gutter-width * 2 bottom $grid-gutter-width);
		color: the_color(white);

		@at-root .Restaurant-page & {
			color: the_color(yellow, grayish);
		}
		@at-root .Voucher-page & {
			color: the_color(yellow, grayish);
		}
		@at-root .Front-page & {
			color: the_color(yellow, grayish);
		}
	}

	a {
		@extend %font-weight-bold, %text-decoration-underline;

		color: the_color(white);
	}

	ul {
		@include padding(left $grid-gutter-width);
		@include margin(top $grid-gutter-width bottom $grid-gutter-width);
		@extend %list-style-type-none;

		li {
			&:before {
				content: '\2022';
				color: the_color(cyan, dark-moderate);
				display: inline-block;
				width: 1em;

				@at-root .Restaurant-page & {
					color: the_color(yellow, grayish);
				}
				@at-root .Voucher-page & {
					color: the_color(yellow, grayish);
				}
				@at-root .Front-page & {
					color: the_color(yellow, grayish);
				}
			}
		}
	}

	table {
		border: none;

		td {
			border: none;
		}

		tr {
			height: $grid-gutter-width * 2;

			@include media-breakpoint-up(md) {
				height: auto;
			}
		}
	}

	blockquote {
		@include padding(
			top $grid-gutter-width right $grid-gutter-width bottom $grid-gutter-width left
				$grid-gutter-width
		);

		& > *:first-child {
			@include margin(top 0);
		}

		& > *:last-child {
			@include margin(bottom 0);
		}

		background-color: the_color(cyan, dark-moderate);
		color: the_color(white);
	}
}
