{#

Footer

@package DLAP

#}

			<footer class="Site-footer">
				<div class="Site-container">
					<div class="row">
						<div class="col-12 col-md-5">
						</div>
					</div>
				</div>
			</footer>
		</main>

		{{ wp_footer }}

    </body>
</html>
