{#
 # Index
 #
 # @author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
 # @file views/index.html.twig
 # @package DLAP
 # @purgeCSS Map leaflet-pane leaflet-map-pane leaflet-control-container leaflet-left leaflet-control-zoom leaflet-tile leaflet-tile-loaded leaflet-bar leaflet-control leaflet-layer leaflet-tile-container leaflet-zoom-animated leaflet-right leaflet-bottom leaflet-top leaflet-container leaflet-touch leaflet-retina leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom leaflet-bottom leaflet-left marker Producers-page Front-page Restaurant-page Voucher-page background-color-cyan-very-dark-desaturated color-gray-very-light background-color-gray-very-dark background-color-cyan-dark-moderate
 #}

{# Header #}
{% include 'header.html.twig' %}

{# Content #}
{% block content %}
	{% if post.get_field( 'blocks' ) %}
		<div class="Page__content">
			{% for b in post.get_field( 'blocks' ) %}
				{% if b is iterable %}
					{% include "blocks/#{ b.acf_fc_layout }.html.twig" with { block: b, id: "#{ b.acf_fc_layout }-#{ loop.index }" } %}
				{% endif %}
			{% endfor %}
		</div>
	{% endif %}

	{{ post.get_field( 'references' ) ? references }}
	{{ post.get_field( 'partners' ) ? partners }}
{% endblock %}


{# Footer #}
{% include 'footer.html.twig' %}
