{#

@author Jérémy Levron <jeremylevron@19h47.fr> (https://19h47.fr)
@file views/index.html.twig
@package DLAP

#}

{# Header #}
{% include 'header.html.twig' %}


{# Content #}
{% block content %}
	{% if post.get_field( 'blocks' ) %}
		<div class="Page__content">
			{% for b in post.get_field( 'blocks' ) %}
				{% if b is iterable %}
					{% include "blocks/#{ b.acf_fc_layout }.html.twig" with { block: b, id: "#{ b.acf_fc_layout }-#{ loop.index }" } %}
				{% endif %}
			{% endfor %}
		</div>
	{% endif %}

	{{ post.get_field( 'references' ) ? references }}
	{{ post.get_field( 'partners' ) ? partners }}
{% endblock %}


{# Footer #}
{% include 'footer.html.twig' %}
