{#
 # Carousel
 #
 #
 #}
<div id="carousel" class="Carousel Section page-block" data-node-type="CarouselBlock">

	<div class="Site-container">
		<div class="row">
			<div class="col-12">
				<div class="Carousel__items js-items">
					{% for item in block.items %}
						{% include 'partials/image.html.twig' with { image: item, classes: [ 'Carousel__item', 'js-item' ] } %}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
