{#
 # Carousel
 #
 #
 #}
<div id="carousel" class="Carousel Section page-block" data-node-type="CarouselBlock">

	<div class="Site-container">
		<div class="row">
			<div class="col-12">
				<div class="Carousel__items js-items">
					{% for item in block.items %}
						{% include 'partials/image.html.twig' with { classes: ['Carousel__item js-item'], image: item, loading: 'auto' } %}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
