{#  #}
<div class="Section">
	<div class="Site-container">
		<div class="row">
			{% if block.aside %}
				<div class="col-12 col-md-3 offset-md-1">
					<div class="Wysiwyg">
						{{- block.aside -}}
					</div>
				</div>
			{% endif %}
			<div class="col-12 col-md-6{{ block.aside ? ' offset-md-1' : ' offset-md-5' }}">
				<div class="Wysiwyg">
					{{- block.content -}}
				</div>
			</div>
		</div>
	</div>
</div>
