{#  #}
<div class="Content">
	<div class="Site-container">
		<div class="row">
			<div class="col-6 offset-5">
				<div class="Content__inner">
					{{- block.content -}}
				</div>
			</div>
		</div>
	</div>
</div>
