{#
 # Divider
 #
 # @package DLAP
 #}
<div class="Section">
	<div class="Site-container">
		<div class="row">
			<div class="col-md-10 offset-md-1 col-hd-6 offset-hd-5">
				<div class="Divider">
					{{- include( 'svg/use.html.twig', { classes: [ 'd-inline-block vertical-align-middle' ], icon: 'divider' } ) -}}
				</div>
			</div>
		</div>
	</div>
</div>
