{#  #}
<div class="Image">
	<div class="Site-container">
		<div class="row">
			<div class="col-12">
				{% include 'partials/image.html.twig' with { image: block.image, classes: [ 'js-baseline' ] } %}
			</div>
		</div>
	</div>
</div>
