{#

Layouts: numbers

 #}
<div class="Map Section">
	<div class="Site-container">
		<div class="row">
			<div class="col-12 col-md-10 offset-md-1 offset-hd-5 col-hd-7">
				{% include 'partials/map.html.twig' with { open: true, id: id ? "map-#{id}" : 'map' } %}
			</div>
		</div>
	</div>
</div>
