// Dependencies
@import 'vendors/bootstrap-imports';

@import '~@19h47/architecture/src/stylesheets/abstracts/easings';

@import 'abstracts/variables';

@import 'base/fonts';

@import
	'~ress/ress',
	'~flickity/css/flickity';

// Functions
@import '~@19h47/architecture/src/stylesheets/abstracts/functions';

// Mixins.
@import
	'~@19h47/architecture/src/stylesheets/abstracts/mixins/auto-alpha',
	'~@19h47/architecture/src/stylesheets/abstracts/mixins/create-class-color',
	'~@19h47/architecture/src/stylesheets/abstracts/mixins/font',
	'~@19h47/architecture/src/stylesheets/abstracts/mixins/letter-spacing',
	'~@19h47/architecture/src/stylesheets/abstracts/mixins/margin',
	'~@19h47/architecture/src/stylesheets/abstracts/mixins/padding',
	'~@19h47/architecture/src/stylesheets/abstracts/mixins/position',
	'~@19h47/architecture/src/stylesheets/abstracts/mixins/power',
	'~@19h47/architecture/src/stylesheets/abstracts/mixins/reset-placeholder',
	'~@19h47/architecture/src/stylesheets/abstracts/mixins/size';

@import '~@19h47/architecture/src/stylesheets/abstracts/placeholders';

// Base stuff
@import
	'base/base',
	'base/typographies';

// Layout
@import
	'layout/site',
	'layout/header',
	'layout/footer',
	'layout/partners',
	'layout/hero',
	'layout/map',
	'layout/carousel';

// Components
@import
	'components/logo',
	'components/menu',
	'components/guid',
	'components/form',
	'components/socials',
	'components/button';

// Pages
@import
	'pages/page',
	'pages/front-page';


// Utilities.
@import
	'vendors/architecture-variables',
	'~@19h47/architecture/src/stylesheets/utilities/colors',
	'~@19h47/architecture/src/stylesheets/utilities/cursors',
// 	'~@19h47/architecture/src/stylesheets/utilities/displays',
	'~@19h47/architecture/src/stylesheets/utilities/floats',
	'~@19h47/architecture/src/stylesheets/utilities/fonts',
	'~@19h47/architecture/src/stylesheets/utilities/margins',
	'~@19h47/architecture/src/stylesheets/utilities/overflows',
	'~@19h47/architecture/src/stylesheets/utilities/paddings',
	'~@19h47/architecture/src/stylesheets/utilities/positions',
	'~@19h47/architecture/src/stylesheets/utilities/sizes',
	'~@19h47/architecture/src/stylesheets/utilities/text-aligns',
	'~@19h47/architecture/src/stylesheets/utilities/text-decorations',
	'~@19h47/architecture/src/stylesheets/utilities/text-transforms',
	'~@19h47/architecture/src/stylesheets/utilities/vertical-aligns',
// 	'~@19h47/architecture/src/stylesheets/utilities/visibilities',
	'~@19h47/architecture/src/stylesheets/utilities/white-spaces',
	'~@19h47/architecture/src/stylesheets/utilities/lists';
